<div class="header-info" *ngIf="showHeaderInfo">

</div>

<nav class="navbar" [class.navbar-fixed]="isFixed">
  <div class="navbar-container">
    <div class="navbar-logo">
      <p class="title">Divina Sopa</p>
      <p class="message">A SOPA COM O GOSTINHO DE CASA</p>
    </div>
    <div class="navbar-links">
      <a href="#" *ngFor="let type of productTypes" [class.active]="type.type === activeType" (click)="scrollToType($event, type.type)">
        {{ type.type }}
      </a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="search-icon" (click)="toggleSearch()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
    </div>
    <div class="search-bar" *ngIf="showSearchBar">
      <input type="text" placeholder="Buscar no cardápio" [(ngModel)]="searchTerm" autofocus>
      <button (click)="toggleSearch()">Cancelar</button>
    </div>
  </div>
</nav>
