<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header">
            <h6>Pedidos</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Feito às</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../../assets/img/ifood-logo.png" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">#12345</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Lucas Lucena</p>
                      <p class="text-xs text-secondary mb-0">(83) 98690 7270</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="status-badge ordered">Solicitado</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">16:15</span>
                      <p class="text-xs text-secondary mb-0">02/11/2023</p>
                    </td>
                    <td class="align-middle">
                      <p class="text-xs text-secondary mb-0">R$26,40</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../../assets/img/delivery-ld-contorno.png" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">#3652</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Lucas Lucena</p>
                      <p class="text-xs text-secondary mb-0">(83) 98690 7270</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="status-badge preparing">Preparando</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">16:15</span>
                      <p class="text-xs text-secondary mb-0">02/11/2023</p>
                    </td>
                    <td class="align-middle">
                      <p class="text-xs text-secondary mb-0">R$26,40</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../../assets/img/delivery-ld-contorno.png" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">#3652</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Lucas Lucena</p>
                      <p class="text-xs text-secondary mb-0">(83) 98690 7270</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="status-badge dispached">Despachado</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">16:15</span>
                      <p class="text-xs text-secondary mb-0">02/11/2023</p>
                    </td>
                    <td class="align-middle">
                      <p class="text-xs text-secondary mb-0">R$26,40</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../../assets/img/delivery-ld-contorno.png" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">#3652</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Lucas Lucena</p>
                      <p class="text-xs text-secondary mb-0">(83) 98690 7270</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="status-badge finished">Finalizado</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">16:15</span>
                      <p class="text-xs text-secondary mb-0">02/11/2023</p>
                    </td>
                    <td class="align-middle">
                      <p class="text-xs text-secondary mb-0">R$26,40</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="../../../assets/img/delivery-ld-contorno.png" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">#3652</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">Lucas Lucena</p>
                      <p class="text-xs text-secondary mb-0">(83) 98690 7270</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="status-badge canceled">Cancelado</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">16:15</span>
                      <p class="text-xs text-secondary mb-0">02/11/2023</p>
                    </td>
                    <td class="align-middle">
                      <p class="text-xs text-secondary mb-0">R$26,40</p>
                    </td>
                  </tr>
                  

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>