<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header">
            <h6>Pedidos</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table mat-table [dataSource]="dataSource" class="table align-items-center mb-0">


                <!--Order Id-->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>

                  <td mat-cell *matCellDef="let element">
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../../../assets/img/delivery-ld-contorno.png" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">#{{element.id}}</h6>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <!--Client Name and Cellphone Number-->
                <ng-container matColumnDef="clientName">
                  <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                  <td mat-cell *matCellDef="let element">
                    <p class="text-xs font-weight-bold mb-0">{{element.clientName}}</p>
                    <p class="text-xs text-secondary mb-0">{{element.clientCellphoneNumber}}</p>
                  </td>
                </ng-container>

                <!--Order Status-->
                <ng-container matColumnDef="orderStatus">
                  <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <td mat-cell *matCellDef="let element" class="align-middle text-center">

                    <span [ngClass]="{
                      'status-badge': true,
                      'ordered': element.orderStatus === 'ORDERED',
                      'preparing': element.orderStatus === 'PREPARING',
                      'dispatched': element.orderStatus === 'DISPATCHED',
                      'finished': element.orderStatus === 'FINISHED',
                      'canceled': element.orderStatus === 'CANCELED'
                    }">{{element.orderStatus}}</span>

                  </td>
                </ng-container>

                <!--Created At-->
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Feito Às</th>
                  <td mat-cell *matCellDef="let element" class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{(element.createdAt).getHours()}}:{{(element.createdAt).getMinutes()}}:{{(element.createdAt).getSeconds()}}</span>
                    <p class="text-xs text-secondary mb-0">{{(element.createdAt).getDate()}}/{{(element.createdAt).getMonth()+1}}/{{(element.createdAt).getFullYear()}}</p>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
              </table>
              <!--<table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Feito às</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
                  </tr>
                </thead>
              </table>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>